body{
    font-size: sans-serif;
    background-size: cover;
}

footer {
    text-align: center;
    text-decoration: none;
    background-color: bisque;
}

h1 {
    font-family: Arial,sans-serif;
    text-align: center;
    font-size: 1rem;
}
.special-footer{color:blueviolet}


nav ul {

    list-style: none;    /*removes bullets*/
    display: flex;       /*puts in a row */
    gap: 5rem ; /* puts a gap in between tabs */
    text-decoration: none;
    text-align: center;
}
h2{
    text-align: center;
}
a {
    font-size: 1.125rem;
    font-family: sans-serif;
    font-weight: bold;
    color:black; 
    text-align: center;
}



